<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socioboard.tboardpro"
    android:versionCode="28"
    android:versionName="3.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.socioboard.t_board_pro.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.socioboard.t_board_pro.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socioboard.t_board_pro.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.socioboard.t_board_pro.WelcomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.socioboard.t_board_pro.SchedulleComposeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.appnext.appnextsdk.ReferralReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.socioboard.t_board_pro.util.FollowersNotificationReceiver" />
        <receiver android:name="com.socioboard.t_board_pro.util.TweetSchedullerReceiver" />
        <receiver android:name="com.socioboard.t_board_pro.util.TweetDMScheduller" >
            <intent-filter>
                <action android:name="com.socioboard.action" />
            </intent-filter>
        </receiver>
    </application>

</manifest>